.productDesc {
	color: #575757;
}


.shoppingCartIMG {
	vertical-align: bottom;
	width: 22px;
	height: 22px;
	padding: 1px;
	cursor: pointer;
}

#uppderDockDiv {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 60px;
	width: 100%;
	z-index: 1;
	background-color: rgb(53, 66, 66);
}

#pageTitle {
	font-weight: bold;
	color: #63BAE6;
	font-size: 21px;
	text-align: left;
	font-family: verdana, sans-serif;
	padding-left: 10px;
}

#logout {
	color: #F4ECF9;
	border: solid 1px;
	padding: 4px;
}
#addProductFormDiv {
	position: absolute;
	top: 10%;
	left: 40%;
}

#userNameDisplay {
	color: #61B8B2;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	font-size: 12px;
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	padding-left: 10px;
}

.productTitle {
	font-weight: bold;
	color: #383838;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	font-size: 18px;
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	line-height: 0;
	padding: 0px 0px 5px 0px;
}

.singleProductDiv {
	padding: 5px 10px 10px 13px;
	border-bottom: 1px solid #CCCCCC
}

.price {
	color: #359100;
	font-size: 13px;
	text-align: left;
	font-family: arial, helvetica, sans-serif;
}

.spinner {
	width: 20px;
	height: 15px;
	font-size: 12px;
}

html,body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.productImage {
	padding: 0px 7px 0px 0px;
	border: 5px solid #c4c8cc;
	-moz-box-shadow: 5px 5px 7px #888;
	-moz-border-radius-bottomright: 15px;
	-webkit-box-shadow: 5px 5px 7px #888;
	-webkit-border-bottom-right-radius: 15px;
	border: 2px solid #c4c8cc;
}

.productImgTd {
	padding-right: 10px;
}

#wrap {
	width: 600px;
	height: 900px;
	top: 20px;
	position: relative;
	bottom: 0px;
}

#wrap ul {
	margin: 0px;
	padding: 0px;
	text-align: center
}

#wrap ul li {
	-moz-background-clip: padding; /* Firefox 3.6 */
	-webkit-background-clip: padding; /* Safari 4? Chrome 6? */
	background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
	border: 10px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	list-style-type: none;
	height: 150px;
	width: 160px;
	margin-left: 13px;
	margin-bottom: 15px;
	float: left;
	padding: 15px 0px 0px 0px;
	font-family: "LubalGraphBdBTBold", Tahoma;
	font-size: 2em;
	overflow-x: hidden;
}

#wrap ul li div {
	height: 25px;
	text-align: center;
	width: 160px;
	margin-top: 10px;
	position: relative;
	bottom: 0px;
	padding-top: 12px;
	padding-bottom: 4px;
	background: #000;
	font: 11px Tahoma, Helvetica, Arial, Sans-Serif;
	opacity: 0.8;
	color: #ccc;
	text-shadow: 0px 2px 3px #555;
}

img#cart {
	bottom: 0px;
	position: fixed;
	margin-left: 30px; /* keep the bar on top  */
}

#wrap ul li {
	cursor: pointer;
}

div#bottomBar {
	position: fixed; /* keep the bar on top  */
	bottom: 0px;
	z-index: 9999;
	background: url(rail.jpg) bottom center repeat-x;
	height: 130px;
}

div#bottomBar {
	width: 600px;
}

em {
	font-style: normal;
}

button {
	background: none repeat scroll 0 0 #AD7B05;
	color: #FFFFFF;
	border: medium none;
	font-family: "LubalGraphBdBTBold", Tahoma;
	font-size: 14px;
	margin-right: -14px;
	padding: 3px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cart-total {
	background: #E8E8E8
}

.shopp,.cart-total {
	border: solid #ccc 1px;
	padding: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	font-size: 12px;
	background: url(remove.png) center right no-repeat 5px;
	border-radius: 8px;
	font-family: "LubalGraphBdBTBold", Tahoma;
	margin-bottom: 3px;
	width: 230px;
}

div.shopp span {
	float: left;
}

div.shopp div.label {
	width: 130px;
	float: left;
}

div.shopp div.shopp-price {
	width: 70px;
	float: left;
}

.quantity {
	float: left;
	margin-top: -3px;
	width: 20px;
}

img.remove {
	float: right;
	cursor: pointer;
}

.cart-total b {
	width: 130px;
}

#productsDiv { /* The main container div */
	position: relative;
	margin: 50px auto;
	width: 680px;
	border: 1px solid #CCCCCC;
	padding: 7px 7px 7px 25px;
	/* CSS3 rounded cornenrs */
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

#productList { /* The unordered list that is to be split into pages */
	width: 650px;
	overflow: hidden;
	position: relative;
	margin-left: 0px;
	padding: 8px 0 0 0;
	list-style-type: none;
	/*	CSS3 inner shadow (the webkit one is commeted, because Google Chrome
		does not like rounded corners combined with inset shadows): */
	-moz-box-shadow: 0 0 10px #222 inset;
	/*-webkit-box-shadow:0 0 10px #222 inset;*/
	box-shadow: 0 0 10px #222 inset;
}

.swControls {
	position: absolute;
	margin-top: 10px;
}

a.swShowPage { /* The links that initiate the page slide */
	background-color: #444444;
	float: left;
	height: 15px;
	margin: 4px 3px;
	text-indent: -9999px;
	width: 15px;
	/*border:1px solid #ccc;*/
	/* CSS3 rounded corners */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

a.swShowPage:hover,a.swShowPage.active {
	background-color: #2993dd;
	/*	CSS3 inner shadow */
	-moz-box-shadow: 0 0 7px #1e435d inset;
	/*-webkit-box-shadow:0 0 7px #1e435d inset;*/
	box-shadow: 0 0 7px #1e435d inset;
}

#productsList li {
	background-color: #F4F4F4;
	list-style: none outside none;
	margin: 10px 10px 0;
	padding: 20px;
	float: left;
	/* Regular CSS3 box shadows (not inset): */
	-moz-box-shadow: 0 0 6px #111111;
	-webkit-box-shadow: 0 0 6px #111111;
	box-shadow: 0 0 6px #111111;
}

#productsList,#productsList li {
	/* Applying rouded corners to both the holder and the holder lis */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.clear { /* This class clears the floated elements */
	clear: both;
}

#slidingTopWrap {
	position: absolute;
	top: 100%;
	right: 10%;
	width: 250px;
	z-index: 10;
	margin: 0 0 0 650px;
	padding: 0;
}

#slidingTopContent {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: #CCCCCC solid;
	border-width: 0px 3px;
	background-color: #EBEBEB;
}

#slidingTopFooter {
	background-image: url(../images/basketFooter.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 40px;
	font-size: 12px;
	color: #666666;
}

#slidingTopFooter A:link {
	text-decoration: none;
	color: #666666;
}

#slidingTopFooter A:visited {
	text-decoration: none;
	color: #666666;
}

#slidingTopFooter A:hover {
	text-decoration: underline;
	color: #666666;
}

#slidingTopFooter A:active {
	text-decoration: underline;
	color: #666666;
}

#slidingTopFooterLeft {
	float: left;
	margin: 15px 0 0 20px;
}

#slidingTopFooterRight {
	float: right;
	margin: 15px 30px 0 0;
}

